**/__pycache__
**/.ipynb_checkpoints
checkpoints*/**
*.old/**
.idea/**
data/**
h5_data/**
results/**
.pytest_cache/**
.vscode/**
debug.py
*.log
harmonic_inference.egg-info/**
.coverage
.pylintrc
ML_course_data/**
output*/**
results*/**
baseline/**
ismir/**
corpus_data*/**
beethoven_corpus_data/**
Scratch-local.ipynb
