**/.ipynb_checkpoints
**/__pycache__
*.log
*.old/**
.coverage
.idea/**
.pylintrc
.pytest_cache/**
.vscode/**
ML_course_data/**
Scratch-local.ipynb
baseline/**
beethoven_corpus_data/**
checkpoints*/**
corpus_data*/**
data/**
debug.py
h5_data*/**
harmonic_inference.egg-info/**
ismir/**
model_jsons*/**
output*/**
results*/**
chord-features_data/**
