**/__pycache__
**/.ipynb_checkpoints
checkpoints/**
model_jsons/**
*.old/**
.idea/**
data/**
h5_data*/**
results/**
.pytest_cache/**
.vscode/**
debug.py
*.log
harmonic_inference.egg-info/**
.coverage
.pylintrc
ML_course_data/**
output*/**
results*/**
